body {
  background-color: #1b1b1b;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: rgba(15, 15, 15, 0.95);
  align-content: center;
}

.hero {
  height: 100vh;
  background: url('Images/background_coffee_metal.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.btn-coffee {
  background-color: #c49b63;
  color: #1b1b1b;
  border: none;
}

.btn-coffee:hover {
  background-color: #b08955;
  color: #fff;
}

.section-dark {
  padding: 80px 0;
  background-color: #121212;
  opacity: 75%;
}

.gallery-img {
  transition: transform 0.4s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

.carousel-img {
  height: 420px;
  object-fit: cover;
}

.gallery-img {
  transition: transform 0.4s ease;
}

.carousel-wrapper {
  width: 100%;
}

@media (min-width: 992px) {
  .carousel-wrapper {
    width: 70%;
  }
}

.carousel-img {
  height: 420px;
  object-fit: cover;
}